#items
  - @items.each do |item|
    .item
      %img{src: item.images.first.url}
      %h4.name= item.name
      .float-left.price= price_with_currency(item.price)
      .float-right.add-to-cart + Add to cart
