@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

$font-primary: 'Righteous', cursive;
$font-secondary: serif;
$background-primary: #fdfdfd;
// $page-width: 1024px;
$page-width: 100%;

// NAVIGATION SECTION
body {
  margin: 0;
  padding: 0;
  font-family: $font-secondary;
  background-color: $background-primary;
} #page {
  padding: 0;
  margin: 0 auto;
  max-width: $page-width;
}

header {
  display: flex;
  align-items: center;
  #logo {
    max-height: 120px;
    max-width: 280px;
  }
  nav ul, #shopping {
    display: flex;
    align-items: center;
  } nav {
    flex-grow: 1;
  } nav ul {
    justify-content: space-between;
  } nav ul li {
    padding: .5em;
    text-transform: uppercase;
    font-family: $font-primary;
    list-style: none;
    a {
      color: inherit;
      text-decoration: none;
    }
  } #shopping {
    color: white;
    * {
      height: 1em;
      padding: .8em;
      background-color: #f6da63;
    } :first-child {
      border-right: 1px dotted white;
    } :last-child {
      padding-right: 3em;
    }
  }
}
// END OF NAVIGATION SECTION

// APPLICATION WIDE SECTION
#global-popup {
  text-align: center;
  text-transform: uppercase;
  padding: .5em;
  color: white;
  background-color: black;

}

#cart-before::before {
  margin-right: .2em;
  fill: white;
  content: url('cart-light.svg');
} .float-left {
  float: left;
} .float-right {
  float: right;
}
// END OF APPLICATION WIDE SECTION

// FOOTER SECTION
footer {
  border-top: 1px solid #ddd;
}
// END OF FOOTER SECTION
