// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$font-primary: 'Righteous', cursive;
$font-secondary: serif;
$accent-primary: #fe9801;

#items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: $font-secondary;
  .item {
    cursor: pointer;
    box-shadow: 4px 6px 10px #888;
    margin: 0 1em 1em;
    text-align: center;
  } .name {
    margin: .8em 8px;
    text-align: left;
    text-transform: uppercase;
  } .price, .add-to-cart {
    padding: .5em;
    line-height: 1.4em;
  } img {
    margin: 0;
    width: 360px;
    height: 520px;
  } .add-to-cart {
    cursor: pointer;
    color: white;
    font-family: $font-primary;
    text-transform: uppercase;
    min-width: 40%;
    background-color: $accent-primary;
  } .add-to-cart:hover {
    background-color: darken($accent-primary, 5%)
  }
}

// PAGINATION SECTION
.pagination {
  margin: 2em;
  text-align: center;
  a, .current {
    font-family: $font-primary;
    padding: .5em;
  } .current {
    color: $accent-primary;
  } .first a, .last a, .prev a, .next a {
    margin: 0 .5px;
  }
}
// END OF PAGINATION SECTION
